[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.5"
pymysql = "*"
djangorestframework = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.6"
